header.header {
  background-color: var(--grey-bg-color);

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;

    .text-container {
      max-width: 320px;
    }
  }
}
